.vs/

.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/

*.dll
IniaAI.Server/bin/*
IniaAI.Server/obj/*
lcov.info
*coverage.xml
*cobertura.xml
__azurite*.json
__queuestorage*
__blobstorage*

*.cache

*.ncrunchsolution

*.user
config-validation-tool/.idea
config-validation-tool/build
config-validation-tool/dist
config-validation-tool/pequin_configuration_tool.egg-info
config-validation-tool/pequin_ngx_configuration_tool_pkg.egg-info
config-validation-tool/pequinConf.egg-info
config-validation-tool/pequinConfigValidationTool.egg-info
config-validation-tool/tests_tibo
config-validation-tool/validation_config_files/__pycache__

bin/
obj/
**/__pycache__/*
